.cmsBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  .cmsChild {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .cmsNavBar{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    background-color: #002b36;
    .navBarButton{
      color:#657b83;
      height: 100%;
      width: 100%;
      max-height: 50px;
    }
  }

  .auxPage {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
  }
}
