
.homeBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .LandingPage {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .OverlayTitle {
      display: flex;
      cursor: pointer;
      border: 2px #859900 solid;
      border-radius: 50px;
      padding: 10px 30px 10px;
      margin-bottom: 10px;

    }
    .OverlayTitle:hover {
      cursor: pointer;
      border: 2px #b58900 solid;
      border-radius: 50px;
      padding: 10px 30px 10px;
    }
    .hint{
      display: none;
      color: #FF0050;
    }
  }
  .chevronRight{
    color: #b58900;
    padding-right: 5px;
  }
  .chevronRight:hover{
    color: #859900;
  }

  .ee {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-left: 14vw;
    .terminalIcon {
      color: #FF0050;
      cursor: pointer;
      display: flex;
      padding: 5px;
      opacity: 0.3;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .terminalIcon:active {
      color: #FF8F00;
      cursor: pointer;
      display: flex;
      padding: 5px;
      opacity: 0.3;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }


  .titleChevron{
    color: #b58900;
    height: 60px;
    width: 60px;
  }
  .titleChevron:hover{
    color: #859900;
    height: 60px;
    width: 60px;
  }
  .decodeButton{
    width: 100px;
    height: 50px;

  }

  .navigationH1:hover{
    margin-top: 0;
    cursor: pointer;
    color: #b58900;
  }

  .textBlock {
    display: flex;
    font-size: 60px;
    color: #859900;
    align-items: center;

  }
  .textBlock:hover {
    color: #b58900;
  }

  .fadeOut{
    display: none;
    transition: width 2s 2s, height 2s 2s, opacity 2s;
    font-size: 60px;
    color: #859900;
    opacity:0;
  }
  .mainElements{
    display: flex;
    transition: width 2s 2s, height 2s 2s, opacity 2s;
    color: #859900;
    opacity: 100;
    flex-direction: column;
    width: 90vw;
    height: 90vh;

    .mainRow{
      display: flex;
      flex-direction: row;
      flex: 1;
      padding: 20px;

      .mainQuadrant{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px;

        .titleButton{
          display: flex;
          width: fit-content;
          height: 40px;
          padding: 7px 22px 7px;
          margin: 0 0 20px;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          border: 2px #859900 solid;

          .navigationH1{
            margin: 0;
            color: #859900;
          }
        }
        .titleButton:hover{
          padding: 7px 22px 7px;
          border-radius: 50px;
          border: 2px solid #b58900;
          background-color: #586e75;
          color: #b58900;
          .navigationH1:hover{
            color: #b58900;
          }
        }
        .paragraphBlock{
          display: flex;
          flex: 1;
          flex-direction: column;
          margin: 10px 50px 20px;
          color: #859900;
          font-size: 20px;

        }
        .paragraph{
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }
      }


    }
    @media only screen and (max-width: 600px) {
      .mainRow{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px;
        .mainQuadrant {
          .paragraphBlock {
            display: flex;
            flex: 1;
            flex-direction: column;
            margin: 10px 20px 10px;
            color: #859900;
            font-size: 20px;
          }
        }
      }
    }
  }
  .mainElementsHidden{
    display: none;
    opacity: 0;
  }

  .buttonDiv{
    padding-bottom: 20px;
  }

  .statButton{
    font-family: "Ubuntu Light", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background: #eee8d5;
    font-size: 16px;
    color: #073642;
    width: 100px;
    height: 50px;
    border-radius: 20px;
  }
  .statButton:hover{
    font-family: "Ubuntu Light", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background: #eee8d5;
    font-size: 16px;
    color: #b58900;
    width: 100px;
    height: 50px;
    border-radius: 20px;
  }

  .youtubeEmbed{
    display: flex;
    width: 100%;
    height: 100%;
  }


}

/*
  Animation for transitions.
 */
#cursor {
  background: #073642;
  box-sizing: border-box;
  border-left: .5em solid;
  -webkit-animation: typing 3s steps(19, end),blinking 1s step-end infinite;
  animation: typing 3s steps(19, end),blinking 1s step-end infinite;

}

#slide {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@keyframes blinking {
  0% {border-color: transparent;}
  100% {border-color: transparent;}
  50% {border-color: #859900;}
}
