// Root Font (What is set on to the body).
$s-font--weight-bold: 800;
$s-font--weight-semi-bold: 600;
$s-font--weight-regular: 400;

$s-font--root-size: 16px;
$s-font--root-weight: $s-font--weight-regular;
$s-font--root-family: 'Ubuntu', san-serif;
$s-font--root-line: 1.5;
