@mixin t-font--type-base{
  font-weight: $s-font--root-weight;
  font-family: $s-font--root-family;
  line-height: $s-font--root-line;
}

//=== Standard paragraphs & typography ===//
@mixin t-font--type-1 {
  @include t-font--type-base;
  font-size: 1rem;

  @include t-media-query($s-medium-up) {
    font-size: 1.25rem;
    line-height: 1.455;
  }

  @include t-media-query($s-xlarge-up) {
    font-size: min(1vw, 1.25rem);
  }
}

@mixin t-font--type-2 {
  @include t-font--type-base;
  font-size: 1rem;

  @include t-media-query($s-medium-up) {
    font-size: 1rem;
    line-height: 1.75;
  }

  @include t-media-query($s-xlarge-up) {
    font-size: min(0.8vw, 1rem);
  }
}

@mixin t-font--type-3 {
  @include t-font--type-base;
  font-size: 1rem;

  @include t-media-query($s-medium-up) {
    line-height: 1.75;
  }

  @include t-media-query($s-xlarge-up) {
    font-size: min(0.8vw, 1rem);
  }
}

@mixin t-font--type-4 {
  @include t-font--type-base;
  font-size: 1rem;
  font-weight: $s-font--weight-regular;

  @include t-media-query($s-medium-up) {
    line-height: 1.75;
  }

  @include t-media-query($s-xlarge-up) {
    font-size: min(0.8vw, 1rem);
  }
}

// Base heading styles
@mixin t-font--heading {
  margin: 0;
  font-family:  $s-font--root-family;
  font-weight: $s-font--weight-regular;
  letter-spacing: -0.02rem;
}

@mixin t-font--heading-1 {
  @include t-font--heading;
  font-size: 3rem;
  line-height: 1.167;
  
  @include t-media-query($s-medium-up) {
    line-height: 1.125;
    font-size: min(6.4vw,8rem);
  }
}
@mixin t-font--heading-2 {
  @include t-font--heading;
  font-size: 2rem;
  line-height: 1.125;

  @include t-media-query($s-medium-up) {
    font-size: min(4.500vw,5.625rem);
    line-height: 1.156;
  }
}
@mixin t-font--heading-3 {
  @include t-font--heading;
  font-size: 2rem;
  line-height: 1.125;
  @include t-media-query($s-medium-up) {
    font-size: min(3.200vw,4rem);
    line-height: 1.125;
  }
}

@mixin t-font--heading-4 {
  @include t-font--heading;
  font-size: 2rem;
  line-height: 1.125;
  letter-spacing: 0.01rem;
  @include t-media-query($s-medium-up) {
    font-size: min(3.200vw,4rem);
    line-height: 1;
    letter-spacing: 0.01rem;
  }
}
