// Pixel size definitions
$s-screen--xxsmall:  375px;  // Modern Phones
$s-screen--xsmall:   480px;  // Small Tablets / Z-Fold
$s-screen--small:    750px;  // Modern Large Mobiles / Small Tablets
$s-screen--medium:  1100px;  // Large Tablet / Small Old Laptop
$s-screen--large:   1350px;  // Large Tablet Landscape / Average Laptop
$s-screen--xlarge:  1650px;  // Large Laptop / Average - Large Desktop
$s-screen--xxlarge: 2000px;  // 4K Deskop

// Size definitions
$s-screen--name-xxsmall: 'xxsmall';
$s-screen--name-xsmall: 'xsmall';
$s-screen--name-small: 'small';
$s-screen--name-medium: 'medium';
$s-screen--name-large: 'large';
$s-screen--name-xlarge: 'xlarge';
$s-screen--name-xxlarge: 'xxlarge'; 

// Groups
$s-xxsmall-up: 'xxsmall-up';
$s-xsmall-up: 'xsmall-up';
$s-small-up: 'small-up';
$s-medium-up: 'medium-up';
$s-large-up: 'large-up';
$s-xlarge-up: 'xlarge-up';
$s-xxlarge-up: 'xxlarge-up';

$s-xxlarge-down: 'xlarge-down';
$s-xlarge-down: 'xlarge-down';
$s-large-down: 'large-down';
$s-medium-down: 'medium-down';
$s-small-down: 'small-down';
$s-xsmall-down: 'xsmall-down';

// Breakpoints
$s-screen--breakpoints: (
  $s-screen--name-xxsmall     '(max-width: #{$s-screen--xsmall - 1})',
  $s-screen--name-xsmall      '(min-width: #{$s-screen--xsmall}) and (max-width: #{$s-screen--small - 1})',
  $s-screen--name-small       '(min-width: #{$s-screen--small}) and (max-width: #{$s-screen--medium - 1})',
  $s-screen--name-medium      '(min-width: #{$s-screen--medium}) and (max-width: #{$s-screen--large - 1})',
  $s-screen--name-large       '(min-width: #{$s-screen--large}) and (max-width: #{$s-screen--xlarge - 1})',
  $s-screen--name-xlarge      '(min-width: #{$s-screen--xlarge})',

  $s-xxsmall-up   '(min-width: #{$s-screen--xxsmall})',
  $s-xsmall-up    '(min-width: #{$s-screen--xsmall})',
  $s-small-up     '(min-width: #{$s-screen--small})',
  $s-medium-up    '(min-width: #{$s-screen--medium})',
  $s-large-up     '(min-width: #{$s-screen--large})',
  $s-xlarge-up    '(min-width: #{$s-screen--xlarge})',
  $s-xxlarge-up   '(min-width: #{$s-screen--xxlarge})',

  $s-xxlarge-down '(max-width: #{$s-screen--xxlarge})',
  $s-xlarge-down  '(max-width: #{$s-screen--xlarge})',
  $s-large-down   '(max-width: #{$s-screen--large})',
  $s-medium-down  '(max-width: #{$s-screen--medium - 1})',
  $s-small-down   '(max-width: #{$s-screen--small - 1})',
  $s-xsmall-down  '(max-width: #{$s-screen--xsmall})'
);


:export {
  xxsmall: $s-screen--xxsmall;
  xsmall: $s-screen--xsmall;
  small: $s-screen--small;
  medium: $s-screen--medium;
  large: $s-screen--large;
  xlarge: $s-screen--xlarge;
  xxlarge: $s-screen--xxlarge;
}