Body{
  display: flex;
  flex: 1;
}
.App {
  text-align: center;
}
.BodyElement{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #073642;
  overflow-y: auto;
  width: 100%;
}
