.auxBody {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 50px 5vw 50px;

  .auxTitle {
    text-align: center;
    color: #b58900;
    font-size: 2em;
    font-weight: bolder;
    cursor: default;
  }

  .paragraphBlock {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 50px 5vw 50px;
    color: #859900;
  }
  .paragraphBlockText {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 50px 5vw 50px;
    color: #859900;
  }

  .paragraph {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 20px;
  }
  .mapDiv {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 560px;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-bottom: 20px;
  }
  .videoDiv {
    display: flex;
    flex: 1;
    height: 560px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .videoDivOverlay{
    display: flex;
    flex: 1;
    height: 560px;
    align-items: center;
    justify-content: center;
    width: 80%;
  }



  .auxChild {
    display: flex;
    flex: 1;
    flex-direction: row;

    .auxPage {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 20px;
    }



    .auxNavigation {
      padding-top: 20px;

      .auxButton {
        display: flex;
        width: fit-content;
        height: 40px;
        padding: 5px 20px 5px;
        align-items: center;
        justify-content: center;
        border: 2px solid #859900;
        border-radius: 50px;

        .navigationH1 {
          padding: 0;
          margin: 0;
          color: #859900;

        }
      }

      .auxButton:hover {
        border: 2px solid #b58900;
        border-radius: 50px;

        .navigationH1:hover {
          margin-top: 0;
          cursor: pointer;
          color: #b58900;
        }
      }

      @media only screen and (max-width: 800px) {
        .auxButton {
          display: flex;
          width: fit-content;
          height: 40px;
          padding: 2px 15px 2px;
          align-items: center;
          justify-content: center;
          border: 2px solid #859900;
          border-radius: 50px;

          .navigationH1 {
            font-size: large;
            padding: 0;
            margin: 0;
            color: #859900;

          }
        }
      }


    }

    .secondaryNav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 40px 0px;

      .auxButton {
        display: flex;
        width: fit-content;
        height: 40px;
        padding: 7px 22px 7px;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        .navigationH1 {
          padding: 0;
          margin: 0;
          cursor: pointer;
          color: #859900;

        }
      }

      .auxButton:hover {
        padding: 5px 20px 5px;
        border-radius: 50px;
        border: 2px solid #b58900;

        .navigationH1:hover {
          margin-top: 0;
          cursor: pointer;
          color: #b58900;
        }
      }
    }
    @media only screen and (max-width: 800px) {
      .secondaryNav {
        margin: 5px 10px 0px;

        .auxButton {
          display: flex;
          width: fit-content;
          height: 40px;
          padding: 4px 17px 4px;
          align-items: center;
          justify-content: center;

          cursor: pointer;


          .navigationH1 {
            font-size: large;
            padding: 0;
            margin: 0;
            cursor: pointer;
            color: #859900;

          }
        }

        .auxButton:hover {
          padding: 2px 15px 2px;
          border-radius: 50px;
          border: 2px solid #b58900;

          .navigationH1:hover {
            margin-top: 0;
            cursor: pointer;
            color: #b58900;
          }
        }
      }

    }
    @media only screen and (max-width: 500px) {

      .secondaryNav {
        margin: 0px 0px 0px;
      }
      .auxPage{
        padding: 0;
        .paragraphBlock{
          margin: 0;
        }
        .paragraphBlockText{
          margin: 0;
        }
      }
    }
  }

  .overlay{
    display: none;
    .overlayNavigation {
      padding-top: 20px;

      .overlayButton {
        display: flex;
        width: fit-content;
        height: 40px;
        padding: 5px 20px 5px;
        align-items: center;
        justify-content: center;
        border: 2px solid #859900;
        border-radius: 50px;

        .overlayH1 {
          padding: 0;
          margin: 0;
          color: #859900;

        }
      }

      .overlayButton:hover {
        border: 2px solid #b58900;
        border-radius: 50px;

        .overlayH1:hover {
          margin-top: 0;
          cursor: pointer;
          color: #b58900;
        }
      }
    }
    .overlayPage {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 20px;
      align-items: center;
      justify-content: center;
      .videoTitle{
        padding: 10px 20px 20px;
      }

    }
  }
  @media only screen and (max-width: 800px) {
    .overlayPage {
      padding: 0;
    }
    .auxTitle {
      font-size: 2em;
    }
    .paragraphBlock {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 10px 0px 10px;
      color: #859900;
    }
    .auxPage {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 10px;
    }
    .paragraph {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 20px;
    }
    .mapDiv {
      width: 100%;
    }
    .videoDivOverlay{
      width: 100%;
    }
    .videoDiv {
      display: flex;
      flex: 1;
      height: 560px;
      width: 100%;
    }
    .mapDiv {
      display: flex;
      flex: 1;
      height: 560px;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .overlay {
      .overlayNavigation {
        .overlayButton {
          display: flex;
          width: fit-content;
          height: 40px;
          padding: 5px 20px 5px;
          align-items: center;
          justify-content: center;
          border: 2px solid #859900;
          border-radius: 50px;

          .overlayH1 {
            font-size: large;
            padding: 0;
            margin: 0;
            color: #859900;

          }
        }
      }
    }

  }
  @media only screen and (max-width: 500px) {
    .overlay {
      flex-direction: column;
      align-items: center;
    }

  }
  @media only screen and (max-width: 500px) {
    .auxChild {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .auxBody {
    margin: 20px 30px 20px;
  }
}
